
<div class="d-flex justify-content-center align-items-center full-height">
  <mat-card class="todo-card">
    <mat-card-content>
      <h1 class="card-title text-center">Todo List</h1>

      <mat-form-field appearance="outline" class="task-input">
        <mat-label>Task Baru</mat-label>
        <input matInput [(ngModel)]="task" placeholder="Apa yang ingin kamu tulis?" (keyup.enter)="addTask()">
      </mat-form-field>

      <button mat-raised-button class="add-button" [disabled]="!task || task.trim() === ''" (click)="addTask()">
        Add Task
      </button>

      <div class="task-list">
        <div *ngFor="let task of tasks; let i = index" class="task-item">
          <ng-container *ngIf="editingIndex !== i; else editMode">
            <span>{{ task }}</span>
            <div class="task-actions">
              <button mat-icon-button color="primary" (click)="editTask(i)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="removeTask(i)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </ng-container>

          <ng-template #editMode>
            <form class="edit-form" (ngSubmit)="saveTask()">
              <mat-form-field appearance="outline" class="edit-input">
                <input matInput [(ngModel)]="editTaskValue" name="editTaskValue" autocomplete="off">
              </mat-form-field>
              <div class="task-actions">
                <button mat-icon-button color="primary" type="submit">
                  <mat-icon>check</mat-icon>
                </button>
                <button mat-icon-button color="warn" type="button" (click)="cancelEdit()">
                  <mat-icon>close</mat-icon>
                </button>
              </div>
            </form>
          </ng-template>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>